body {
  color: #444;
  font-family: 'Helvetica', 'Verdana', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  align-content: stretch;
  align-items: stretch;
  background: #ececec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.main {
  padding-left: 1em;
  padding-right: 1em;
}

.rxData {
  font-family: 'Courier New', monospace;
}

.image_px {
  border-width: 2px;
  width: 40px;
  height: 40px;
  float: left;
  border-color: black;
  background: yellow;
  border-style: solid;
  text-align: center;
}
